:root {
  --primary-text-color: #010101;
  --primary-bg-color: #f9f0e5;
}

$accent-color: #D4A971;

$footer-bg-color: #1d1d1b;

$white-color: #FFF;
$black-color: #000;

$duration: 200ms;
$timing-function: ease-in-out;